.calendar {
  width: 1080px;
}

.calendar__wrapper {
  height: 290px;
}

.multi-night-calendar.calendar__wrapper {
  width: 510px;
}

.calendar__copy {
  justify-content: space-around;
  padding: 20px 0 0 0;
}

.flex {
 display: flex;
 flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.hidden {
  display: none;
  visibility: hidden;
}

.col-2 {
  margin-left: 30px;
}

.pb {
  padding-bottom: 15px !important;
  text-align: center;
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: 1px solid #000000;
  text-align: left;
  vertical-align: top;
  padding: calc(.875rem - 3px) 63px calc(.875rem - 3px) 15px;
  background-color: #00000000;
  font-size: 14px;
  letter-spacing: 0.16px;
  min-height: 48px;
  min-width: 250px;
  line-height: 1.29;
  color: #000000;
  font-weight: 400;
  border-radius: 3px;
}

.button:hover {
  text-decoration: underline;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}



